<html>
    <head>
        <title>Login</title>
    </head>
    <body>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          {% block body %}{% endblock %}
          
       <div style="margin: auto;width: 400px;height: 600px; background-color: azure;">
           <div style="text-align: center;padding-top: 250px;" >
               <form action="{{url_for('log')}}" method = "post">
                    <input name="user" type="text">
                    <br>
                    <br>
                    <input name="password" type="password">
                    <br>
                    <br>
                    <button name="Login" type="submit" >Log in</button> 
               </form>
           </div>
       </div>
    </body>
</html>